// configurações gerais/componentes

//configurações gerais
@use 'sass:math';
@use './config/variaveis.scss' as v;
// componentes
@use './componentes/header';
@use './componentes/footer';
@use './componentes/contato';

// estilos _pages
@use './_pages/carousel'; //home
@use './_pages/restaurente_home'; //restaurante_page

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}