// configurações gerais/componentes

//configurações gerais
@use 'sass:math';
@use './config/variaveis.scss' as v;
// componentes
@use './componentes/header';
@use './componentes/footer';
@use './componentes/page__home-content';
@use './componentes/contato';
@use './componentes/galeria';
@use './componentes/regras';

// estilos _pages
@use './_pages/carousel'; //home
@use './_pages/restaurente'; //restaurante_page
@use './_pages/infraestrutura.scss'; //infraestrutura_page
@use './_pages/lago.scss'; //lago_page
@use './_pages/cadapio'; //cadapio_page
@use './_pages/galeria_page'; //galeria_page

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    height: max-content;
    width: 100%;
    background-color: v.$branco;
    padding: 3rem 0.5rem;

    &__header {
        @include v.display(flex, center, center);
        flex-direction: column;

        h1 {
            font-size: 64px;
            font-family: v.$fonte-titulo;
            font-weight: lighter;
        }

        h4 {
            font-size: 36px;
            font-family: v.$fonte-padrao;
            margin-bottom: 2.5rem;
            font-weight: lighter;
        }

        p {
            font-size: 28px;
            font-family: v.$fonte-padrao;
            color: #666666;
            margin-bottom: 5.5rem;
            text-align: center;
        }
    }
}