@use './config/variaveis.scss' as v;

@import "bootstrap/scss/bootstrap";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: max-content;
    width: 100%;
}

.carousel-div{
    height: 100vh;
    width: 100%;
    &__inner{
        &__item{
            &__img{
                
            }

            &__caption{

            }
        }
    }
}

