@use '../config/variaveis.scss' as v;

.cardapio {
  width: 100%;

  &__title {
    height: max-content;
    width: 100%;
    @include v.display(flex, center, center);
    flex-direction: column;
    margin: 7rem 0;

    h2 {
      width: max-content;
      font-family: v.$fonte-titulo;
      font-size: 80px;
      font-weight: lighter;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background: v.$preto;
        margin: 0.5rem auto;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  &__img {
    height: max-content;
    width: max-content;
    margin: 2rem 5rem;

    img {
      height: 400px;
      width: 600px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__info {
    height: max-content;
    width: 60vw;
    color: #fff;
    border-radius: 100px 0 0 100px;
    padding: 3rem;

    h3 {
      margin: 0;
      font-size: 60px;
      font-family: v.$fonte-titulo;
      font-weight: lighter;
    }

    p {
      margin: 0.5rem 0 0;
      font-size: 32px;
      font-family: v.$fonte-padrao;
    }

    &--red {
      background: v.$laranja;
    }

    &--blue {
      background: v.$azul;
    }

    &--green {
      background: v.$verde;
    }
  }

  /* ====== Responsivo ====== */
  @media (max-width: v.$tablet) {
    &__img {
      width: 150px;
      height: 100px;
    }

    &__info {
      padding: 0.8rem 1.5rem;

      h3 {
        font-size: 1.1rem;
      }

      p {
        font-size: 0.85rem;
      }
    }
  }

  @media (max-width: v.$mobile) {
    &__row {
      flex-direction: column !important;
      text-align: center;
    }

    &__img {
      width: 100%;
      max-width: 280px;
      height: 160px;
    }

    &__info {
      width: 100%;
      border-radius: 15px;
      padding: 1rem;

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}