@use '../config/variaveis.scss' as v;

.carousel-div {
    height: 100vh;

    &__inner {
        height: 100%;

        &__item {
            height: 100vh;
            position: relative;

            &__img {
                object-fit: cover;
                height: 100vh;
                width: 100%;
                filter: brightness(30%);
            }

            &__caption {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                h6 {
                    font-size: 25px;
                    font-family: v.$fonte-titulo;
                    letter-spacing: 2px;
                    margin-bottom: 1rem;
                }

                h1 {
                    font-size: 88px;
                    font-family: v.$fonte-titulo;
                    font-weight: bold;
                    margin-bottom: 1.4rem;
                }

                p {
                    font-size: 28px;
                    font-family: v.$fonte-padrao;
                    margin-bottom: 5rem;
                }

                .btn {
                    font-size: 30px;
                    font-family: v.$fonte-titulo;
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    border-radius: 5px;
                    color: v.$branco;
                }

                .btn-laranja {
                    background-color: v.$laranja;
                }

                .btn-azul {
                    background-color: v.$azul;
                }

                .btn-verde {
                    background-color: v.$verde;
                }

            }
        }
    }
}