@use "sass:color";
@use '../../styles/config/variaveis.scss' as v;

.footer {
  width: 100%;
  height: max-content;
  padding: 2.5rem; // 40px

  &__content {
    width: 100%;
    height: max-content;
    @include v.display(flex, space-around, flex-start);

    div {
      h4 {
        font-size: 1.375rem; // 22px
        font-family: v.$fonte-padrao;
        margin-bottom: 0.9375rem; // 15px
      }

      p {
        font-size: 1.375rem; // 22px
        font-family: v.$fonte-padrao;
        margin-bottom: 0.625rem; // 10px
      }

      iframe {
        width: 18.75rem; // 300px
        height: 11.25rem; // 180px
        border-radius: 0.3125rem; // 5px
      }

      div {
        @include v.display(flex, space-between, center);

        a {
          font-size: 1.875rem; // 30px
          color: v.$preto;
          transition: color 0.3s ease;

          &:hover {
            color: color.adjust(v.$preto, $lightness: -15%);
          }
        }
      }
    }
  }
}