@use '../config/variaveis.scss' as v;

.carousel-div{
    height: 100vh;

    &__inner {
        height: 100%;

        &__item {
            position: relative;
            height: 100vh;

            &__img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                filter: brightness(30%);
                display: block;
            }

            &__caption {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include v.display(flex, center, center);
                flex-direction: column;
                color: v.$branco;

                h1 {
                    font-size: 5.5rem; // 88px
                    font-family: v.$fonte-titulo;
                    font-weight: bold;
                    margin-top: 5rem;
                }

                h6 {
                    font-size: 1.6rem; // 25px
                    font-family: v.$fonte-titulo;
                    letter-spacing: 2px;
                    margin: .5rem 0 4rem 0;
                }

                .btn {
                    font-size: 2rem; // 30px
                    font-family: v.$fonte-titulo;
                    padding: 0.5rem 1.5rem;
                    border-radius: 5px;
                    color: v.$branco;
                    display: inline-block;
                }

                .btn-laranja {
                    background-color: v.$laranja;
                }

                .btn-azul {
                    background-color: v.$azul;
                }

                .btn-verde {
                    background-color: v.$verde;
                }
            }
        }
    }
}

/* ===== Responsividade ===== */
@media (max-width: v.$tablet) {
    .carousel-div {
        height: 100vh;

        &__inner__item {
            height: 100vh;

            &__img {
                height: 100vh;
            }

            &__caption {
                h1 {
                    font-size: 4.5rem;
                }

                .btn {
                    font-size: 3rem;
                    padding: 0.4rem 1rem;
                }
            }
        }
    }
}

@media (max-width: v.$mobile) {
    .carousel-div {
        height: 100vh;

        &__inner__item {
            height: 100vh;

            &__img {
                height: 100vh;
            }

            &__caption {
                h6 {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 2.6rem;
                }

                .btn {
                    font-size: 1.5rem;
                    padding: 0.3rem 0.8rem;
                }
            }
        }
    }
}