@use '../config/variaveis.scss' as v;

.contact__section {
    height: 200px;
    width: 100%;
    @include v.display(flex, space-around, center);
    background-color: #d9d9d9;

    &__text {
        h1 {
            font-size: 40px;
            font-family: v.$fonte-titulo;
            letter-spacing: 1px;
        }

        p {
            font-size: 28px;
            font-family: v.$fonte-padrao;
        }
    }
}