@use '../config/variaveis.scss' as v;

.header {
    height: max-content;
    width: 100%;
    @include v.display(flex, space-around, center);
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem;
    z-index: 999;

    &__social {
        width: 30%;
        @include v.display(flex, space-around, center);
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
            color: v.$branco;
            font-size: 1.2rem;

            i{
                font-size: 32px;
            }
        }
    }

    img {
        width: 70px;
        height: 70px;
    }

    &__menu {
        width: 30%;
        @include v.display(flex, space-around, center);
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            font-size: 26px;
            font-family: v.$fonte-padrao;
            font-weight: lighter;
            text-decoration: none;
            color: v.$branco;
            transition: color 0.3s ease;

            &::after{
                content: '';
                width: 100%;
                background-color: white;
                height: 2px;
                display: block;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
            
            &:hover {
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    }
}

.blur{
    backdrop-filter: blur(50px);
}