@use '../config/variaveis.scss' as v;

.regras {
    width: 100%;
    min-height: auto; // garante expansão natural
    @include v.display(flex, center, center);
    flex-direction: column;
    margin: 5rem 0;
    padding: 25px;
    text-align: center;

    h1 {
        font-size: 4rem; // ~64px
        font-family: v.$fonte-titulo;
        font-weight: lighter;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 2.2rem; // ~35px
        font-family: v.$fonte-padrao;
        font-weight: lighter;
        margin-bottom: 2rem;
    }

    p {
        font-size: 2.5rem; // ~40px
        font-family: v.$fonte-padrao;
        font-weight: lighter;
        margin-bottom: 1.5rem;
        max-width: 900px; // limite de largura p/ não ficar cansativo
    }

    // Responsividade
    @media (max-width: v.$tablet) {
        h1 {
            font-size: 3rem;
        }

        h4 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.5rem;
        }
    }

    @media (max-width: v.$mobile) {
        h1 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}