<footer class="footer">
    <div class="footer__content">
        <div>
            <h4>Venha nos visitar</h4>
            <p>Estr. Jacob Canale, 160 (Estrada Piracicaba Anhumas),</p>
            <p>Piracicaba-SP, São Paulo, Brasil</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d470942.0543410169!2d-47.688626!3d-22.756666!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c6372dcad171ad%3A0xcc8ff68cd9d75215!2sPesqueiro%20Recanto%20dos%20Peixes!5e0!3m2!1spt-BR!2sus!4v1757096355911!5m2!1spt-BR!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <h4>Entre em contato</h4>
            <p>WhatsApp: +55 (19) 98815-1127</p>
            <p>Telefone: +55 (19) 3434-2895</p>
        </div>
        <div>
            <h4>Horario de funcionamento</h4>
            <p>De Domingo a Domingo 24h por dia!</p>
        </div>
        <div>
            <h4>Nossas redes</h4>
            <div class="footer__content__redes">
                <a href="https://wa.me/551934342895" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/recantodospeixesrestaurante/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/recanto.dospeixes"><i class="bi bi-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>