<header class="header">
    <ul class="header__social">
        <li><a href="https://l.instagram.com/?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D551934342895%26fbclid%3DPAZXh0bgNhZW0CMTEAAacvgP6jxk_q1tQooPjA9p7xbG6QXHNRxoDRFzrRuHZZ8PhaDbKHzKjciVGG9Q_aem_9WPKwiTo2rGS2hJA4buY6A&e=AT17wKMpmIwJidyeCj5zjuZ9sR_D_E-kMaCWRGqFVwej35tsDy_AmvHHFF-CdnxA-MPesGcuq_AzX9kVHWl4aMUhAhGWzoI2I5bzUmsylzUUbVQ02TEUn0KAHA" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
        <li><a href="https://www.instagram.com/recantodospeixesrestaurante/" target="_blank"><i class="bi bi-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/recanto.dospeixes" target="_blank"><i class="bi bi-facebook"></i></a></li>
    </ul>

    <a href="../index.html" class="header__logo">
        <img src="../assets/imagens/Logo_Pesqueiro.png" alt="Logo_Pesqueiro">
    </a>

    <ul class="header__menu">
        <li><a href="../restaurante.html">Restaurante</a></li>
        <li><a href="../infraestrutura.html">Infraestrutura</a></li>
        <li><a href="../lago.html">Lagos</a></li>
    </ul>

    <!-- botão hamburguer (mobile) -->
    <button class="header__toggle" aria-label="Abrir menu" id="header-toggle">
        <i class="bi bi-list"></i>
    </button>

    <!-- menu mobile (dentro do header, BEM) -->
    <nav class="header__mobile" aria-hidden="true" id="header-mobile">
        <ul>
            <li><a href="../restaurante.html">Restaurante</a></li>
            <li><a href="../infraestrutura.html">Infraestrutura</a></li>
            <li><a href="../lago.html">Lagos</a></li>
            <li class="social">
                <a href="https://l.instagram.com/?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D551934342895%26fbclid%3DPAZXh0bgNhZW0CMTEAAacvgP6jxk_q1tQooPjA9p7xbG6QXHNRxoDRFzrRuHZZ8PhaDbKHzKjciVGG9Q_aem_9WPKwiTo2rGS2hJA4buY6A&e=AT17wKMpmIwJidyeCj5zjuZ9sR_D_E-kMaCWRGqFVwej35tsDy_AmvHHFF-CdnxA-MPesGcuq_AzX9kVHWl4aMUhAhGWzoI2I5bzUmsylzUUbVQ02TEUn0KAHA" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://www.instagram.com/recantodospeixesrestaurante/" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/recanto.dospeixes" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
        </ul>
    </nav>
</header>